/*#007fff
/#2E1141*/
.byItems {
  color: blue;
}

h1 {
  padding-top: 20px;
}

.list-group-item {
  padding: 5px;
}

img {
  display: block;
}
.info {
  text-transform: uppercase;
}
.perLevel {
  color: green;
}
.byItems {
  color: blue;
}

.whereToDrop {
  width: 546px;
  height: 90px;
  border: 1px solid #aaaaaa;
  margin: 20px auto 0;
}

.item {
  margin: 13px 13.3px;
  width: 64px;
  height: 64px;
  float: left;
  display: block;
}

#pictures {
  width: 1150px;
  height: 1500px;
  padding-top: 50px;
  padding: 0;
  margin: 0;
  margin: 20px auto 0;
} 